* {
    padding: 0;
    margin: 0;
}

nav a{
    text-decoration: none;
}

nav {
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

nav li {
    list-style-type: none;
    padding: 30px 40px;
    display: inline-block;
    font-size: 20p;
}

.header-right {
    font-size: 45px;
    padding: 14px;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    position: absolute;
    margin-top: -80px;
    margin-left: 60rem;
}

header {
    background-color: rgb(115, 189, 221);
    height: 65px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    color: black;
}

main {
    margin-top: 20px;
    /* margin-left: 20px; */
    /* justify-content: end; */
    align-items: end;
    color: aliceblue;
    display: flex;
}
.article p{
    font-size: 60px;
}
.aside img{
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 350px;
    height: 350px;
    margin-left: 200px;
}
 main a{
    color: bisque
 }

 body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
 }

.puyeng img{
    width: 200px;
    height: 200px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    margin-top: px;
}

.article {
    margin-left: 50px;
}